.config/nvim/autoload
.config/nvim/plugged
.local/share/man
.local/share/recently-used.xbel
flatpak/
.local/share/lf/
.local/share/newsboat/cache.db
viminfo
.config/gcloud/
.config/pulse
.local/bin/programs
.config/shortcutrc
.config/vifm/vifmshortcuts
.config/hub
.local/share
