[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    line-numbers = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[user]
	email = thomaz@tnex.xyz
	name = Thomaz Andrade
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKUFxfBQ75bB8uMcBr9aoKvAk1ducWJD7ycyvqWriP6a

[init]
	defaultBranch = main
[safe]
	directory = /opt/flutter
[credential "https://github.com"]
	helper = 
	helper = op plugin run -- gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = op plugin run -- gh auth git-credential

[commit]
  gpgsign = true

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/opt/1Password/op-ssh-sign"

[includeIf "gitdir:~/repo/born/"]
  path = ~/repo/born/.gitconfig
